:root {
  --ins-color--orange: #ec7a08; }

.page__actions.actions__view .actions__view--title {
  text-transform: capitalize; }

.page__actions.actions__view table.rules-table th:first-child {
  width: 50%; }

.page__actions.actions__view table.rules-table td {
  padding: var(--pf-global--spacer--lg); }
  .page__actions.actions__view table.rules-table td:not(:first-of-type) {
    text-align: center; }

.page__actions.actions__view table.rules-table tfoot tr td:first-child {
  padding: 0; }

.actions__description {
  margin: var(--pf-global--spacer--xl) 0; }

@media only screen and (min-width: 768px) {
  .ins-l-icon-group__vertical > *:not(:first-child) {
    margin-top: 5px;
    margin-top: 0.3125rem; } }

